#屏蔽当前目录下所有文件及其子目录文件
#这里必须写成/*才能达到后续的效果
#如果写成*,后面的!不会生效
#如果写成/,则表示忽略当前目录,而不是忽略当前目录下的文件
/*

#以下是排除忽略的文件,即:加入版本控制的文件
!build
!mock
!plop-templates
!public
!src
!tests
!.editorconfig
!.env.development
!.env.mock
!.env.production
!.env.staging
!.eslintignore
!.eslintrc.js
!.gitignore
!.postcssrc.js
!.travis.yml
!babel.config.js
!jest.config.js
!jsconfig.json
!package.json
!plopfile.js
!postcss.config.js
!README.md
!vue.config.js

#以下是不加入版本控制的文件
.DS_Store